<h3>Welcome to the Servant Index Page<a class="pull-right" href='<%= random_servant_path %>'><span class="glyphicon glyphicon-random"></span></a></h3>

<%= react_component('ServantList', { servants: @servants, classes: @classes }) %>
